<h1><%= @camper.name %>'s Page</h1>
<h2>Age:<%= @camper.age %></h2>
<h2>Activities: <% @camper.activities.uniq.each do |activity| %></h2>

   <%  if (@camper.activities == 0) %>
            <%puts "N/A"%>
    <% else %>
         <li> <%= activity.name %> </li>
    <%end%>

<%end %>
